body{
    background-color: rgb(141, 193, 207);
}
.box{
    background-color: white;
    border-radius: 0px 0px 60px 60px;
    padding: 20px;
    font-size: 80px;
    width: 400px;
    margin-left: 500px;
    margin-top: 200px;
}
.icon{
    color: gray;
    
}
.icon1{
    color: chartreuse;

}